name: Deploy Static Site to S3

on:
  push:
    branches:
      - main
      - master
      - develop
  workflow_dispatch: # 手動実行対応を追加

env:
  BUCKET_NAME: tfpractice-dev-static-web-3bbf3851

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Check if S3 bucket exists
        run: |
          if ! aws s3 ls "s3://${{ env.BUCKET_NAME }}" > /dev/null 2>&1; then
            echo "S3バケットが存在しないため、デプロイはスキップします";
            exit 0
          fi

      - name: Sync static files to S3
        run: aws s3 sync frontend/public/ s3://${{ env.BUCKET_NAME }}/ --delete
